*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



header{
    display: flex;
    justify-content: end;
    font-family: source sans pro;
    padding: 1.2em 1.5em;
}

ul li{
    list-style: none;
    display: inline-block;
    padding-left: 2.6em;
    font-size: 0.75rem;
    
}

ul li a {
    text-decoration: none;
    color: #090909;
    font-weight: 700;
}
.logo-img{
    width: 23px;
    height: 23px;
    cursor: pointer;
}
.logotype{
    display: flex;
    margin-right: auto;
    align-items: center;
}
.logo-tittle{
    font-family: roboto;
    font-weight: 700;
    font-size: 0.85rem;
}

.introduction{
    color: #000;
    padding: 25px 20px;
    margin-bottom: 2.125em;
}

.introduction img {
    border-radius: 5px;
    margin:2.25em 0;
}

.article p:not(:last-child) {
    padding: 1em 0;
}

.date{
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 0.6em;
}

.introduction h1{
    font-size: 2rem;
    line-height: 108%;
}

.introduction p{
    font-weight: 400;
    font-size: 1rem;
    margin-top: 0.5em;
}

.blog{padding: 0 1.25em;}

.introduction, 
.blog{
    justify-content: end;
}

.main-content h2 {
    font-family: source sans pro;
    margin-bottom: 1.75em;
    text-align: center;
}

.blog img {
    margin-bottom: 1em;
    border-radius: 5px;
    gap: 1em;
}

.blog h1{
    font-size: 1.5rem;
    margin-bottom: 0.4em;
}
article{
    margin-bottom: 2.6em;
    color: #505050;
}

.div-view-more{
    display: block;
    text-align: center;
    margin-bottom: 2.5em;
}

button{
    border: none;
    background-color: #fff;
    border-bottom: 2px solid #000;
    font-size: 1em;
    font-family: source sans pro;
    font-weight: 700;
}

button:hover{
    transition: 0.2s ease;
    font-size: 1.2em;
}

.introduction, 
.blog,
footer{
    font-family: 'Source Sans Pro';
    display: flex;
    flex-direction: column;
}

footer {
    width: auto ;
    justify-content: center;
    align-items: center;
    background-color: #202020;
    color: #fff;
    padding: 2.25em 0;
}

footer h1, p {
    font-size: 0.75rem;
}
.logotype a {
    text-decoration: none;
    color: #0E0E0E;
}

@media(min-width: 767px){
    
    body{
        max-width: 1085px;
        margin-left: auto;
        margin-right: auto;
    }
    

    header{
        padding: 1.5em 3.4em;
    }
    
    ul li{
        font-size: 1rem;
    }

    .logo-img{
        width: 34px;
        height: 34px;
    }

    .logo-tittle{
        font-size: 1.25rem;
    }

    .intro-text{
        padding: 4.5em 7.5em;
        padding-bottom: 0;
    }

    .article{
        padding: 0 7.5em;
    }

    #intro-img{
        padding: 2em 3.5em;

    }

    .introduction h1{
        font-size: 2rem;
    }

    .main-content{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .main-content h2{
        grid-column: 1/-1;
    }

    .blog {
        padding-left: 3.5em;
        padding-right: 3.5em;
    }

    
}